#root {
  margin: 0 auto;
  /* max-width: 1230px; */
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  opacity: 0;
}

.swiper-wrapper {
  align-items: center;
}
