#root {
  margin: 0 auto;
  /* max-width: 1230px; */
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Swiper */
.swiper-button-prev::after,
.swiper-button-next::after {
  opacity: 0;
}

.swiper-wrapper {
  align-items: center;
}

/* Tab */
button[tabindex="-1"] {
  opacity: 0.5;
}
